    .wallpaper {
        width: 100%;
        height: 180px;
        background-color: rgb(0, 119, 255);
    }

    .logo {
        width: 200px;
    }

    h1 {
        font-size: 50px;
    }

    .lorem1 {
        font-size: 20px;
    }

    .lorem2 {
        font-size: 20px;
    }

    .thead {
        background-color: rgb(0, 132, 255);
    }

    .tr {
        background-color: rgb(125, 238, 253);
    }

    .tr2 {
        background-color: rgb(125, 238, 253);
    }

    .lorem3 {
        font-size: 20px;
    }

    .h3-2 {
        color: rgb(105, 100, 100);
        font-size: 20px;
    }

    .evidenziato {
        background-color: gold;
    }

    .evidenziato2 {
        background-color: gold;
    }